<% @items.each do |item| %>       
  <% if (item.klass == c && item.type == t) or ((%w[20 21 22].include? item.type.to_s) && item.type == t) %> 
    <span class="img-wrapper">
      <%= link_to(image_tag((item[:photo].blank? ? "/images/icons/blockdevice.png" : item[:photo]), :size => "75x75", :class => "with-tip tip-#{tipdir}", :alt => "#{item.name} ", :title => "#{item.name} // ID:#{item.id}#{(%w[20 21 22].include? item.type.to_s) ? '' : ' // Sort: ' + item.sort.to_s }#{(item.type.to_s == "20" && item.item_category_id.to_s == "0") ? ' // No Animation Selected!' : ''}"), edit_item_path(item)) %>       
      <% unless (%w[20 21 22].include? item.type.to_s) %><span class="superscript top right"><%= item.num_available %></span><% end %>
      <% if ((%w[20 21 22].include? item.type.to_s) && (ability_manager(item) && @ability_manager.admin_tool_user_id != 0)) %><span class="superscript top left"><%= manager_name(@ability_manager) %></span><% end %>      
      <% if (item.type.to_s == "20" && (animation_manager(item) && @animation_manager.admin_tool_user_id != 0)) %><span class="superscript bottom left yellow"><%= manager_name(@animation_manager) %></span><% end %>      
      <% if (item.type.to_s == "20" && item.item_category_id.to_s == "0") %><span class="superscript bottom right yellow">!</span><% end %>      
    </span>      
  <% end %>
<% end %>