<!DOCTYPE html>
<html>
<head>
  <title>Klicknation</title>
  <%= stylesheet_link_tag :all, :cache => true %>
  <%= javascript_include_tag :all, :cache => true %>
  <%= csrf_meta_tag %>
</head>
<body>
  
	<!-- Header -->
	
	<!-- Status bar -->
	<div id="status-bar"><div class="container_12">
	
		<ul id="status-infos">
			<li class="spaced"><strong>Klicknation Game Admin</strong></li>
		</ul>
		
		<ul id="breadcrumb"></ul>
	
	</div></div>
	<!-- End status bar -->
	
	<div id="header-shadow"></div>
	<!-- End header -->


<%= yield %>

</body>
</html>
